name: SonarCloud - Frontend Scan (No Tests)

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonar-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install frontend deps
        run: |
          cd frontend
          npm ci

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: frontend
          extra-args: >
            -Dsonar.projectKey=jashanjotp_shopEase__frontend
            -Dsonar.organization=jashanjotp
            -Dsonar.sources=src
            -Dsonar.exclusions=**/node_modules/**,**/dist/**
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
